.rc-header{
    padding: 16px 0;
    .navbar-collapse{
        width: 60%;
        flex-grow: unset;
        justify-content: space-between;
    }
    .navbar-nav{
        margin-right: 0 !important;
    }
    .navbar-brand{
        display: flex;
        align-items: center;
        svg{
            width: 24px;
            height: 24px;
            margin-right: $spacer-2;
        }
        p{
            font-weight: 700;
            text-transform: uppercase;
        }
        sup{
            font-size: 13px;
            font-weight: 500;
            margin-left: $spacer-1;
        }
    }
    .nav-link{
        font-size: 16px;
        color: $color-black !important;
        margin: 0 8px;
    }
}