@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-weight: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-weight: 300;
  line-height: 1.4;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input,
textarea,
select {
  margin: 0;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

textarea {
  overflow: auto;
}

button::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner {
  padding: 0 !important;
  border: 0 none !important;
}

mark {
  background: none;
  color: inherit;
}

strong {
  font-weight: bold;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  width: 100%;
  min-height: 100%;
  color: #1B1B1B;
  background-color: #ffffff;
}

a,
button,
input {
  outline: none;
}

a,
a:hover {
  text-decoration: none;
}

p,
li {
  margin-bottom: 0;
}

button {
  border: 0;
  background-color: transparent;
}

*:focus {
  outline: none;
}

.content-wrapper {
  width: 100%;
  max-width: 1240px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
}

.desk-visible {
  display: block;
}

.only-mobile {
  display: none;
}

.hide-mobile-tablet {
  display: block;
}

.only-mobile-tablet {
  display: none;
}

@media (max-width: 1023px) {
  .content-wrapper {
    padding-left: 32px;
    padding-right: 32px;
  }
  .hide-mobile-tablet {
    display: none;
  }
  .only-mobile-tablet {
    display: block;
  }
}
@media (max-width: 767px) {
  .content-wrapper {
    padding-left: 16px;
    padding-right: 16px;
  }
  .desk-visible {
    display: none;
  }
  .only-mobile {
    display: block;
  }
}
.rc-button {
  padding: 8px 24px;
  font-weight: 300;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: auto;
  background-color: #1B1B1B;
  color: #ffffff;
  transition: 0.3s;
  border-radius: 20px;
  border: 1px solid #1B1B1B;
}
.rc-button:hover {
  transition: 0.3s;
  background-color: #ffffff;
  color: #1B1B1B;
  border-color: #1B1B1B;
}
.rc-button--inv {
  background-color: #ffffff;
  color: #1B1B1B;
}
.rc-button--inv:hover {
  background-color: #1B1B1B;
  color: #ffffff;
}

.rc-header {
  padding: 16px 0;
}
.rc-header .navbar-collapse {
  width: 60%;
  flex-grow: unset;
  justify-content: space-between;
}
.rc-header .navbar-nav {
  margin-right: 0 !important;
}
.rc-header .navbar-brand {
  display: flex;
  align-items: center;
}
.rc-header .navbar-brand svg {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.rc-header .navbar-brand p {
  font-weight: 700;
  text-transform: uppercase;
}
.rc-header .navbar-brand sup {
  font-size: 13px;
  font-weight: 500;
  margin-left: 4px;
}
.rc-header .nav-link {
  font-size: 16px;
  color: #1B1B1B !important;
  margin: 0 8px;
}

.rc-herosec {
  padding-top: 40px;
}
.rc-herosec__outer {
  width: 50%;
}
.rc-herosec__head {
  font-size: 40px;
  font-weight: 400;
  color: #1B1B1B;
  margin-bottom: 24px;
}
.rc-herosec__btnwrap {
  margin: 0 -8px;
}
.rc-herosec__btnwrap .rc-button {
  margin: 0 8px;
}
.rc-herosec__bg {
  min-height: 800px;
  position: relative;
  perspective: 1000px;
  overflow: hidden;
}
.rc-herosec__bgimg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform-style: preserve-3d;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rc-herosec__bgimg img {
  width: 65%;
}
.rc-herosec__bgtext {
  color: #FE610B;
  font-size: 200px;
  font-weight: 600;
  position: absolute;
}
.rc-herosec__text {
  color: #FE610B;
  font-size: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.rc-herosec__textstroke {
  color: #FE610B;
  font-size: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 768px) and (max-width: 1023px) {
  .rc-herosec__outer {
    width: 100%;
  }
  .rc-herosec__head {
    font-size: 35px;
  }
  .rc-herosec__bg {
    min-height: 450px;
  }
}
@media (max-width: 767px) {
  .rc-herosec {
    padding-top: 16px;
  }
  .rc-herosec__outer {
    width: 100%;
  }
  .rc-herosec__head {
    font-size: 35px;
  }
  .rc-herosec__bg {
    margin-top: 16px;
    min-height: 200px;
  }
}
.rc-scrollsec {
  min-height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.rc-scrollsec__main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  padding: 8px 0;
}
.rc-scrollsec__outer {
  display: flex;
  animation: scrollText 10s infinite linear;
  animation-delay: 4s;
}
.rc-scrollsec__outer h2 {
  font-size: 140px;
  margin: 0 24px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .rc-scrollsec {
    min-height: 450px;
  }
  .rc-scrollsec__outer h2 {
    font-size: 80px;
  }
}
@media (max-width: 767px) {
  .rc-scrollsec {
    min-height: 200px;
  }
  .rc-scrollsec__outer {
    animation-delay: unset;
  }
  .rc-scrollsec__outer h2 {
    font-size: 30px;
    margin: 0 8px;
  }
}
@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}